<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Crud Adonis </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ style('/plugins/fontawesome-free/css/all.min.css') }}
    {{ style('/plugins/toastr/toastr.min.css') }}
    {{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}
    {{ style('/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}
    {{ style('/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}
    {{ style('/assets/css/adminlte.min.css') }}
    {{ style('/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}
    {{ style('/plugins/daterangepicker/daterangepicker.css') }}
    {{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}
    {{ style('/plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}
</head>
<body class="sidebar-mini layout-fixed control-sidebar-slide-open text-sm" style="height: auto;">

    <div class="wrapper">

        @include('partials.header')
        @include('partials.menu')

        <div class="content-wrapper">
            @!section('content') 
        </div>
        
        @include('partials.footer')

    </div>

    {{ script('/plugins/jquery/jquery.min.js') }}
    {{ script('/plugins/jquery-ui/jquery-ui.min.js') }}
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    {{ script('/plugins/toastr/toastr.min.js') }}
    {{ script('/plugins/datatables/jquery.dataTables.js') }}
    {{ script('/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}
    {{ script('/plugins/bootstrap/js/bootstrap.bundle.min.js') }}
    {{ script('/plugins/chart.js/Chart.min.js') }}
    {{ script('/plugins/sparklines/sparkline.js') }}
    {{ script('/plugins/jquery-knob/jquery.knob.min.js') }}
    {{ script('/plugins/moment/moment.min.js') }}
    {{ script('/plugins/daterangepicker/daterangepicker.js') }}
    {{ script('/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}
    {{ script('/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}
    {{ script('/assets/js/adminlte.js') }}
    {{ script('/assets/js/demo.js') }}

</body>

</html>