<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Crud Adonis </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ style('/plugins/fontawesome-free/css/all.min.css') }}
    {{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}
    {{ style('/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}
    {{ style('/assets/css/adminlte.min.css') }}
    {{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}
</head>

<body class="hold-transition login-page">

    @!section('content')   
    
    {{ script('/plugins/jquery/jquery.min.js') }}
    {{ script('/plugins/bootstrap/js/bootstrap.bundle.min.js') }}
    {{ script('/dist/js/adminlte.min.js') }}

</body>
</html>